<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*).html\ HTTP/
    RewriteRule .* http://localhost/html/%1 [R=301,L]
    
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule (.*) $1.php [R=301,L]
</IfModule>