.card-shadow {
  box-shadow: 6px 6px #000000;
  transition: transform, transform 0.02s ease;
  transition: box-shadow 1s ease;
}
.card-shadow:hover {
  box-shadow: 10px 10px black;
  transform: translateY(-10px);
  transform: scale(1.005);
}

.nav-shadow {
  box-shadow: 6px 3px grey;
  transition: transform, transform 0.3s ease;
  transition: box-shadow 1s ease;
}
.nav-shadow:hover {
  box-shadow: 8px 5px black;
  transform: translateY(5px);
  transform: scaleY(1.1);
}
.bg-dark {
  background-color: #000000 !important;
}

.btn-dark {
  background-color: #252627 !important;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .btn-bookstore-relocate {
    position: relative;
    bottom: -7%;
  }

  .btn-pgmexplanation-relocate {
    position: relative;
    bottom: -13.75%;
  }
}

@media only screen and (min-width: 992px) {
  .btn-pgmexplanation-relocate {
    position: relative;
    bottom: -14%;
  }
}
